<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-sca">

    <!--=============UNICONS===============-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!--================ SWIPER CSS ==============-->
    <link rel="stylesheet" href="swiper-bundle.min.css">



    <!--================ CSS ==============-->
    <link rel="stylesheet" href="styles.css">


    <title>Artasela</title>
</head>
<body>
    <header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">Artasela</a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list grid">
                    <li class="nav__item">
                        <a href="#" class="nav__link active-link">
                            <i class="uil uil-estate nav__icon"></i> Acceuil
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            <i class="uil uil-user nav__icon"></i> Produits
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            <i class="uil uil-file-alt nav__icon"></i> A propos
                        </a>
                    </li>
    
                    <li class="nav__item">
                        <a href="/contact" class="nav__link">
                            <i class="uil uil-message nav__icon"></i> Contacts
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="/users" class="nav__link">
                            <i class="uil uil-scenery nav__icon"></i> Formulaires
                        </a>
                    </li>
                </ul>
                <i class="uil uil-times nav__close" id="nav-close"></i>
            </div>

            <div class="nav__btns">
                <!-- Theme change button -->
                <i class="uil uil-moon change-theme" id="theme-button"></i>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="uil uil-apps"></i>
                </div>
            </div>
        </nav>
    </header>
<div class="container">
  <h2><%= title %></h2>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Civilite</th>
        <th>Prenom</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Adresse</th>
        <th>Code_postal</th>
        <th>Ville</th>
        <th>Pays</th>
        <th>Profession</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody>
        <% users.forEach(function(user){ %>
            <tr>
                <td><%= user.civilite %></td>
                <td><%= user.prenom %></td>
                <td><%= user.nom %></td>
                <td><%= user.email %></td>
                <td><%= user.adress %></td>
                <td><%= user.postal %></td>
                <td><%= user.ville %></td>
                <td><%= user.pays %></td>
                <td><%= user.proffesion %></td>
                <td><%= user.message %></td>
                <td>
                    <a href="users/<%= user.id %>" class="lien">Info</a>
                </td>
            </tr>
        <% }); %>
    </tbody>
  </table>
</div>

<!--============= SWIPER JS ===============-->
<script src="swiper-bundle.min.js"></script>



<!--============= MAIN JS ===============-->
<script src="main.js"></script>
</body>
</html>