<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--=============UNICONS===============-->
    <link rel="stylesheet"  href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">


    <!--================ SWIPER CSS ==============-->
    <link rel="stylesheet" type="text/css" href="swiper-bundle.min.css">

    <!--================ CSS ==============-->
    <link rel="stylesheet" type="text/css" href="styles.css">

    <title>Artasela</title>
</head>
<body>
    <header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">Artasela</a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list grid">
                    <li class="nav__item">
                        <a href="#" class="nav__link active-link">
                            <i class="uil uil-estate nav__icon"></i> Acceuil
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            <i class="uil uil-user nav__icon"></i> Produits
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            <i class="uil uil-file-alt nav__icon"></i> A propos
                        </a>
                    </li>
    
                    <li class="nav__item">
                        <a href="/contact" class="nav__link">
                            <i class="uil uil-message nav__icon"></i> Contacts
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="/users" class="nav__link">
                            <i class="uil uil-scenery nav__icon"></i> Formulaires
                        </a>
                    </li>
                </ul>
                <i class="uil uil-times nav__close" id="nav-close"></i>
            </div>

            <div class="nav__btns">
                <!-- Theme change button -->
                <i class="uil uil-moon change-theme" id="theme-button"></i>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="uil uil-apps"></i>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <input type="hidden" value="<%= user.id %>" name="id">
  
      <label for="civlite"><b>Civilité:</b></label>
      <input type="text" placeholder="Entrer Name" name="civilite" value="<%=user.civilite%>" disabled>
  
      <label for="prenom"><b>Prénom:</b></label>
      <input type="text" placeholder="Enter Prenom" name="prenom" value="<%=user.prenom%>" disabled>
  
  
      <label for="nom"><b>Nom:</b></label>
      <input type="text" placeholder="Enter name" name="nom" value="<%=user.nom%>" disabled>
  
      <hr>

      <label for="email"><b>Email:</b></label>
      <input type="text" placeholder="House no and Street" value="<%=user.email%>" name="email" disabled>
  
      <label for="adress"><b>Address</b></label>
      <input type="text" placeholder="House no and Street" name="adress" value="<%=user.adress%>" disabled>
  
  
      <label for="ville"><b>City</b></label>
      <input type="text" placeholder="Enter City" name="ville" value="<%=user.ville%>" disabled>
  
      <label for="postal"><b>Postal Code</b></label>
      <input type="number" placeholder="Enter postal" name="postal" value="<%=user.postal%>" disabled>
  
      <label for="pays"><b>Pays</b></label>
      <input type="text" placeholder="Enter Country" name="pays" value="<%=user.pays%>" disabled>
  
      <label for="proffesion"><b>Proffesion</b></label>
      <input type="text" placeholder="Enter Mobile Number" name="proffesion" value="<%=user.proffesion%>" disabled>

      <label for="message"><b>Proffesion</b></label>
      <input type="text" placeholder="Enter Mobile Number" name="message" value="<%=user.message%>" disabled>
  
  
  
  
      <div class="clearfix">
  
       <a href="/users"><button type="button" class="cancelbtn">Retour</button></a>
      </div>
    </div>
  </form>

    <!--============= SWIPER JS ===============-->
     <script src="swiper-bundle.min.js" type="module"></script>



    <!--============= MAIN JS ===============-->
    <script src="main.js" type="module"></script>

</body>
</html>

  